<%= stylesheet_link_tag 'public/homes', media: 'all', 'data-turbolinks-track': 'reload' %>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-10 mx-auto text-center">
      <h2>サイトの利用方法について</h2>
      <p>
        日頃の愛車のメンテナンスを投稿し、次回のメンテナンスに生かしてください。<br>
        ログインされたら投稿内容がなくても走行距離を登録することをお勧めします。<br>
        投稿に関してはタグ付けしてわけて登録します、エンジンオイル交換・洗車をメインに管理するためのサイトとなるため<br>
        その他記録を残したい内容については「その他」タグを用意してますのでご活用ください。<br>
      </p>
    </div>
  </div>
</div>