<% if @model == 'user' %>
  <h3>Users search_for "<%= @content %>"</h3>
  <% @records.each do |record| %>
    <div><%= record.nickname %></div>
    <div>
      <img src="<%= record.profile_image %>">
    </div>
  <% end %>
<% elsif @model == 'post' %>
  <h3>Posts search_for "<%= @content %>"</h3>
<% end %>